<p>pipesexample works!</p>
<div class="container">
        <input type="text" [(ngModel)]="filteredStatus">
        <br>
        <button class="btn btn-primary" (click)="onAddServer()">Add Server</button>
        <br><br>
        <h2>App Status : {{appStatus | async}}</h2>
        <hr>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let server of servers | filter:filteredStatus:'status' |sortPipe:'name'" [ngClass]="getStatusClass(server)">
                <strong>{{server.name | shorten:5 | reversal }}</strong> |  {{server.instanceType|uppercase}} | {{server.started |date:'fullDate' |uppercase}} | <span class="badge">{{server.status}}</span>
            </li>
        </ul>
    
    
</div>

