
<div class="container">
  <div class="col-xs-12">
    <h1>I am in the app component</h1>
      <hr>
      <!-- Default method -->
      <app-server></app-server>
      <app-servers></app-servers>
      <app-warningalert></app-warningalert>
      <app-successalert></app-successalert>
      <!-- Component as attribute - Second MEthod -->
        <!-- <div app-server app-servers>
          
        </div> -->

        <!-- Component as class - Third method -->
        <!-- <div class="app-servers">

        </div> -->
        <app-pipesexample></app-pipesexample>
        <app-custom-pipe></app-custom-pipe>
  </div>
</div>