<h1>App Component Works</h1>
<app-employee></app-employee>
<!-- <app-student></app-student>
<app-department></app-department>
<app-string-interpolation></app-string-interpolation>
<app-property-binding></app-property-binding>
<app-class-binding></app-class-binding>
<app-style-binding></app-style-binding>
<app-eventbinding1></app-eventbinding1> -->
<app-ifdirective></app-ifdirective>
<app-for-directive></app-for-directive>
<app-event-binding2></app-event-binding2>
<app-switchdirective></app-switchdirective>
<app-parent></app-parent>
<app-inbuild-pipe></app-inbuild-pipe>
<app-custom-pipe></app-custom-pipe>
<app-course></app-course>
<app-post></app-post>